/* buttons */
.button {
  padding: 7px 25px;
  border-radius: 5px;
  &.button-primary {
    color: #fff;
    background-color: var(--primary-color);
  }
  &.button-outline {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
  }
  &.button-white {
    color: #000;
    background-color: #fff;
  }
}