:root {
  --primary-color: #ea5858;
}
:root {
  --secondary-color: #000;
}
:root {
  --text-white-opacity: rgba(255, 255, 255, 0.7);
}
:root {
  --primary-font: 'Open sans', sans-serif;
}
:root {
  --secondary-font: 'Roboto', sans-serif;
}